.YogiGoals {
  margin: 50px auto 0px auto;
  padding: 25px;
  height: auto;
  width: auto;
}
.YogiGoals-stat {
  padding: 16px;
  text-align: center;
  background-color: #FDF1D6 !important;
  border-radius: 16px !important;
}
